<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
<script rel="preconnect" async src='https://www.google-analytics.com/analytics.js'></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
  <script rel="preconnect" async src="https://www.googletagmanager.com/gtag/js?id=G-NE446G1R6H"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-NE446G1R6H');
  </script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NLTJ5DB');</script>
<!-- End Google Tag Manager -->