<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% seo %}
  {% feed_meta %}
  {% if site.google_analytics and jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %} 
  <meta name="google-site-verification" content="0AfP6ouBUqp8IPbvV8AgSXFY3YTtSTTriIZ2Lyt43NI" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/ie9.css' | absolute_url }}" />
  <link rel="stylesheet" href="{{ '/assets/custom.css' | absolute_url }}" />
  <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  <script src="https://kit.fontawesome.com/280680b495.js" crossorigin="anonymous"></script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  {% include tipue.html %}
</head>
