﻿				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
                                                {% for item in site.data.settings.sidebar_menu %}
						 {% if {{page.active}} == {{item.active}} %}
                                                   <li class="active">
                                                  <a href="{{ item.link }}">{{ item.name }}</a></li>
                                                {% else %}
						  <li><a href="{{ item.link }}">{{ item.name }}</a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
						</ul>
						<ul class="icons">
							<li><a rel="nofollow noopener" href="https://soundcloud.com/alsalafiyyah" class="icon brands fab fa-soundcloud" target="_blank"><span class="label">Soundcloud</span></a></li>
							<li><a rel="nofollow noopener" href="https://instagram.com/Alsalafiyyah" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>