﻿   {% for post in paginator.posts %}
	<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>
   {% endfor %} 