﻿<div class="box">
  <ul>
    <li>
    <span>{{site.data.settings.post.source}}:</span>
      <b>
    {% if page.source %}
    {{ page.source}}
    {% else %}
    {{ site.source.name}}
    {% endif %}
      </b>
  </li>
    <li>
      <span>{{site.data.settings.post.muftis}}:</span>
      <b>
    {% if page.shaykhs %}
    {{ page.shaykhs | join: ", "}}
    {% else %}
    {{ site.shaykhs.name | join: ", " }}
    {% endif %}
      </b>
  </li>
  </ul>
</div>