﻿<ul class="icons">
 <li>{{site.data.settings.post.share}}</li>
 <li><a href="https://twitter.com/intent/tweet?text={{ page.title | default:"" | uri_escape}}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" class="icon brands fa-twitter" rel="nofollow" target="_blank" title="Share on Twitter"><span class="label">{{site.data.settings.social.tw}}</span></a></li>
 <li><a href="https://facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" rel="nofollow" target="_blank" title="Share on Facebook" class="icon brands fab fa-facebook-f"><span class="label">{{site.data.settings.social.fb}}</span></a></li>
 <li><a href="https://telegram.me/share/url?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&text={{ page.title | default:"" | uri_escape}}" rel="nofollow" target="_blank" title="Share on Telegram" class="icon brands fab fa-telegram-plane"><span class="label">{{site.data.settings.social.tel}}</span></a></li>
 <li><a href="fb-messenger://share?link={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" title="Share on Facebook Messenger" class="icon brands fab fa-facebook-messenger"><span class="label">{{site.data.settings.social.msgr}}</span></a></li>
 <li><a href="https://wordpress.com/press-this.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&t={{ page.title | default:"" | uri_escape}}&s={{ page.title | default:"" | uri_escape}}" title="Share on Wordpress" class="icon brands fab fa-wordpress-simple"><span class="label">{{site.data.settings.social.wp}}</span></a></li>
 <li><a href="http://www.tumblr.com/share/link?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&name={{ page.title }}&description={{ page.title | default:"" | uri_escape}}" rel="nofollow" target="_blank" title="Share on Tumblr" class="icon brands fa-tumblr"><span class="label">{{site.data.settings.social.tumblr}}</span></a></li>
 <li><a href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" rel="nofollow" target="_blank" title="Share on Google+" class="icon brands fab fa-google-plus"><span class="label">{{site.data.settings.social.gplus}}</span></a></li>
 <li><a href="https://wa.me/?text={{ page.title | default:"" | uri_escape}} : {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}" target="_blank" title="Share on WhatsApp" class="icon brands fab fa-whatsapp"><span class="label">{{site.data.settings.social.wa}}</span></a></li>
</ul>
