---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  {% include player.liquid %}
  {{ content }}     
  {% include post-source.liquid %}
  {% include social-share.liquid %}
</article>
  
