<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="is-preload">
  <div id="wrapper" class="fade-in">
     {% include site-title.liquid %}
     {% include nav.liquid %}
   <div id="main">
     {{ content }}
   </div>
{% include footer.html %}
  </div>
{% include scripts.html %}
</body>
</html>
