---
layout: default
---

<article class="post">
<header class="major">
 <span class="date">{% include date.liquid %}</span>
  <h3>{{ page.title }}</h3>
</header>
  {{ content }}
  {% include post-source.liquid %}
  {% include social-share.liquid %}
<p><small>If there are any omissions or mistakes, <a href="mailto:salafiyah@outlook.sa?subject=Report&body={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}">just drop us an email</a>.</small></p>
</article>
